ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    background-color: #252527;
    margin: 0;
    padding: 10px;
}

li a{
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
}

.icon-set{
    width: 150px;
    justify-content: space-between;
}
.icon{
    width: 40px;
    height: 40px;
}