footer ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    background-color: #252527;
    margin: 0;
    padding: 5px 70px;
}

li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.icon-set{
    width: 150px;
    justify-content: space-between;
    padding: 5px;
}
.icon{
    width: 25px;
    height: 25px;
}
.link{
    margin-top: 10px;
}