@import "variables";

html {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-padding-top: 4.5em;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: $color-primary;

  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-top: 4.5em; /* Correspond à la hauteur de la navbar */

    h1 {
      font-family: $font-title;
    }
  }
}
