#pricing{
    position: relative;
    margin-bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    text-align: center;

    h2{
        margin-bottom: 15px;
    }
    p.title{
        margin-bottom: 140px;
    }

    hr{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

#vitrine{
    padding: 2.5vw;
    width: 24vw;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0px 0px 25px -17px #000;
    justify-content: space-between;
    display: grid;
    text-align: center;

    ul{
        list-style-type: none;
        text-align: left;

        li{
            display: flex;
            margin-bottom: 25px;
            
            img{
                margin-right: 20px;
            }
        }
    }

    hr{
        width: 19vw;
    }

    li:last-of-type{
        display: none;
    }

    p{
        color: #9CA3AF;
        font-size: 1rem;
        strong{
            color: #000000;
        }
    }

    .popular{
        display: none;
    }

    #button-container{
        display: grid;

        button{
            background-color: #2563EB;
            border: none;
            color: #ffffff;
            border-radius: 5px;
            padding: 10px;
            &:first-child{
                margin-bottom: 18px;
            }
        }
    }

    &:first-child{
        margin-right: 2vw;
    }

    &:nth-of-type(0n+2){
        transform: scale(1.3);
        background-color: #111827;
        border: solid 3px #ffffff;
        color: #ffffff;

        li:last-of-type{
            display: flex;
        }

        .popular{
            display: block;
            background-color: #2563EB;
            padding: 10px;
            width: fit-content;
            border-radius: 20px;
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 10px;
        }

        p strong{
            color: #ffffff;
        }
    }

    &:last-child{
        margin-left: 2vw;
    }
}

.pricing{
    position: relative;
    display: flex;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 1250px) {
    .pricing{
        display: grid;
    }
    
    #pricing p.title{
        margin-bottom: 50px !important;
    }

    #vitrine{
        width: 65vw;
        margin-bottom: 100px;
        padding-left: 5vw;
        padding-right: 5vw;

        hr{
            width: 55vw;
        }
    }
}

#pricing:last-of-type{

    .title{
        margin-bottom: 70px;
    }
    
    .services{
        display: flex;
    }

    #vitrine{
        background-color: #ffffff;
        color: #000000;
        transform: scale(1);
        margin: 20px;

        .popular{
            display: none;
        }

        strong{
            color: #000;
        }
    }
}