@media screen and (min-width: 1024px) {
    .mobil{
        display: none;
    }
    .desktop{
        display: block;
    }

    #mid-header{
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 0;
        text-align: left;
        margin-top: 0;
    }
    #bg-title{
        position: absolute;
        width: 100%;
        left: 0;
        text-transform: uppercase;
        font-family: BebasNeue;
        font-size: 15em;
        margin: 0;
        text-align: center;
        z-index: 1;
        text-shadow: -2px 3px 6px rgb(37 37 39 / 25%);
        color: #EDEDED;
    }

    #desktop-header{
        position: relative;
        width: 100%;
        height: 580px;
        display: inline-flex;
        justify-content: space-between;
        z-index: 2;
        vertical-align: bottom;
    }

    #desktop-header div{
        height: fit-content;
        position: relative;
        bottom: -290px;
    }
    #top-header img:first-of-type{
        margin-bottom: 0;
    }
    img.desktop{
        padding-right: 5%;
    }
    button.desktop{
        padding: 10px;
        font-size: 1.5em;
        font-weight: lighter;
    }

    #bottom-header{
        padding: 20px 5% 170px 5%;
    }
    #bottom-header h3{
        margin-bottom: 30px;
    }

    #skills{
        border: solid 1px #252527;
        border-radius: 20px;
        margin: 0 15%;
        background-color: #EDEDED;
        position: relative;
        top: -115px;
        padding-top: 45px;
        padding-bottom: 45px;
    }

    .desktop-left{
        text-align: left;
        margin-left: -70px;
    }
    .desktop-left p, .desktop-left p:first-of-type{
        margin-bottom: 0;
    }
    .desktop-left h4{
        margin: 50px 0 0 0;
    }

    #services{
        display: inline-flex;
    }
    .services{
        padding: 20px;
    }

    footer a{
        font-size: 1em;
        vertical-align: center;
    }
}