ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: #252527;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

li a{
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
}