@font-face{
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: BebasNeue;
    src: url(../assets/fonts/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: BreeSerif;
    src: url(../assets/fonts/BreeSerif-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto-Regular.ttf);
}

body{
    background: #EDEDED;
    margin: 0;
}
h1,h2,h3{
    font-family: BreeSerif;
}
h4,h5,h6,legend,p,a{
    font-family: Montserrat;
}