.desktop{display: none;}

/* TOP-HEADER */
#top-header{
    display: flex;
    justify-content: space-between;
}
#top-header img{
    margin: 30px;
    width: 100px;
    height: fit-content;
}
#top-header img:first-of-type{
    width: 140px;
}

/* MID-HEADER*/
#mid-header{
    text-align: center;
    justify-content: center;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 200px;
}

#profile-mobile-bg{
    width: 65%;
    height: 500px;
    background-color: #C4C4C4;
    border-radius: 50%;
    position: relative;
    left: calc(50% - 250px);
}
#profil img{
    position: absolute;
    width: 512px;
    height: auto;
    top: 232px;
    left: 240px;
    border-radius: 0 0 44% 44%;
}

#mid-header h1{
    font-size: 3em;
    margin-top: 50px;
    margin-bottom: 50px;
}
/* BOTTOM-HEADER */
#bottom-header{
    background-color: #252527;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}
#bottom-header h3, #bottom-header p{
    color: #fff;
}